.goal{
    background-color: white;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.025); */
    width: 20%;
    padding: 30px;
    font-family: "Source Sans Pro","Gill Sans","Trebuchet MS","Arial",sans-serif;
    color: rgb(48, 48, 48);
    border-radius: 4px;
}

.goal .goal-name{
    text-align: center;
    font-weight: 500;
}

.goal .goal-desc{
    text-align: justify;
}